<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Panier</title>
</head>

<body>
<div layout:fragment="content">
<div class="container mt-5">
  <h2>Votre Panier</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.items}">
      <td th:text="${item.description}"></td>
      <td th:text="${item.price}"></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Valider</button>
</div>
</div>
</body>
</html>